#back-top {
  position: fixed;
  right: 1rem;
  bottom: 2rem;
  width: 56px;
  height: 56px;
  background: #23533f;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  user-select: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.navbar-footer {
  background: rgba(239, 240, 248, 1);
  padding: 0.5rem 0;
}
.navbar-footer-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ads-footer {
  padding: 1.875rem 0;
}
.footer-container {
  background: rgba(239, 240, 248, 1);
  padding: 1.875rem 0;
}
.footer-block {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.footer-content p {
  line-height: 20px;
  margin: 0 0 5px;
}
.footer-content p strong {
  font-weight: bold;
}
.footer-logo img {
  max-width: 205px;
}
.footer-social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.875rem;
}
.footer-social-link {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 1px;
  border-style: solid;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}
.footer-social-fb {
  color: #3b5998;
  border-color: #3b5998;
}
.footer-social-fb:hover {
  background: #3b5998;
  color: #fff;
}
.footer-social-gg {
  color: #dc5f41;
  border-color: #dc5f41;
}
.footer-social-gg:hover {
  background: #dc5f41;
  color: #fff;
}
.footer-social-yt {
  color: #c33;
  border-color: #c33;
}
.footer-social-yt:hover {
  background: #c33;
  color: #fff;
}
.footer-social-tw {
  color: #09c;
  border-color: #09c;
}
.footer-social-tw:hover {
  background: #09c;
  color: #fff;
}