.block-primary,
.block-third {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-gap: 1.875rem;
    margin-bottom: 1.875rem;
}
.block-primary-large {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.875rem;
}
.block-primary-large__img {
    grid-column: 1/3;
}

.ads-right {
    padding: 0.625rem;
    border: 1px solid #cdcdcd;
    margin-bottom: 0.625rem;
}
.ads-right-55 img {
    height: 55px;
    width: auto;
    margin: auto;
}
.block-primary-small {
    padding-top: 1.875rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.875rem;
}
.ads-home-center {
    margin-bottom: 1.875rem;
}
.ads-home-center img {
    margin: auto;
}
.block-secondary {
    padding: 0.9375rem 1.875rem 1.875rem;
    margin-bottom: 1.875rem;
}
.block-secondary-large {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1.875rem;
    padding-bottom: 1.875rem;
    border-bottom: 1px solid #2e835d;
}
.block-secondary-large__img {
    grid-column: 1/4;
}
.block-secondary-small {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1.875rem;
    padding-top: 1.875rem;
}
.block-third-left-item {
    display: flex;
    padding: 1.875rem 0;
    border-bottom: 1px solid #cbcbcb;

}
.block-third-left-item:first-child {
    padding-top: 0;
}
.block-third-left-item__img {
    width: 35%;
    flex-shrink: 0;
}
.block-third-left-item__content {
    flex: 1;
}