.picture-content {
    background: #343434;
    padding: 1rem;
    margin-bottom: 2rem;
    max-width: 750px;
}
.picture-share-author,
.public-share,
.picture-func {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.picture-share-author {
    margin-top: 1.875rem;
}
.picture-heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.public-share {
    margin-bottom: 1.25rem;
}
.expand-picture {
    background: transparent;
    padding: 0.75rem;
    font-size: 1.25rem;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    border: 2px solid transparent
}
.expand-picture:hover {
    border-color:#fff;
}
.picture-img-filed,
.picture-thumb-list {
    max-width: 750px;
}
.picture-img-filed img {
    max-height: 465px;
    width: auto;
    margin: auto;
}
.picture-img-item p {
    font-size: 0.875rem;
    color: #fff;
    font-family: "Arial",sans-serif;
    padding-top: 2rem;
}
.picture-func-left,
.pagination-picture {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
}
.picture-func.font-secondary{
    padding: 10px 0;
    border-top: 1px solid #636363;
    border-bottom: 1px solid #636363;
    margin: 20px 0;
}
.picture-func-left-item {
    border: 1px solid #636363;
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
.picture-func-left-item + .picture-func-left-item {
    margin-left: 1rem;
}
.picture-func-left-item:hover {
    background:  #23533f;
}
.pagination-item {
    padding: 5px 10px;
    border: 1px solid #636363;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
.pagination-item:hover,
.slick-active .pagination-item {
    background: #23533f;
    color: #fff;
}
.picture-thumb-item {
    cursor: pointer;
}
.picture-thumb-list {
    margin: 0 20px;
}
.picture-thumb-list .slick-slide {
    margin: 0 10px;
}
.picture-thumb-list .slick-slide .picture-thumb-item{
    border: 2px solid transparent;
    opacity: 0.7;
}
.picture-thumb-list .slick-slide.slick-current .picture-thumb-item{
    border-color:  #fff;
    opacity: 1;
}
.picture-thumb-list .slick-prev:before {
    content: '\276E';
}
.picture-thumb-list .slick-next:before {
    content: '\276F';
}
.picture-thumb-list .slick-prev, 
.picture-thumb-list .slick-next {
    width: 30px;
    height: 30px;
}
.picture-thumb-list .slick-prev {
    left: -32px;
}
.picture-thumb-list .slick-next {
    right: -32px;
}
.picture-thumb-list .slick-prev:before, 
.picture-thumb-list .slick-next:before {
    font-size: 30px;
}
.paused-album {
     display: none;
}
.picture-thumb-list .slick-dots {
    bottom: 118px;
    text-align: right;
}